*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: hsl(212, 27%, 19%);
    font-size: 18px;
    font-family: "Barlow", sans-serif;
}

.hero {
    min-height: 100vh;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__wrapper {
    max-width: 1440px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.header__nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__item {
    display: inline-block;
    margin-right: 32px;
}

.header__link {
    text-decoration: none;
}

.header__link:link {
    color: hsl(0, 0%, 100%);
}

.header__link:visited {
    color: hsl(0, 0%, 100%);
}

.header__cta {
    padding: 16px 24px;
    border-radius: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Fraunces", serif;
    appearance: none;
    background-color: hsl(0, 0%, 100%);
    border: 0;
    transition: background-color 300ms ease-out, color 300ms ease-out;
    cursor: pointer;
}

.header__cta:hover {
    background-color: hsl(197, 90%, 84%);
    color: hsl(0, 0%, 100%);
}

.header__menu {
    display: none;
}

.hero__content {
    margin-top: 12vh;
    font-size: 56px;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    letter-spacing: 4px;
}

.hero__decoration {
    margin-top: 10vh;
}

.item {
    display: flex;
}

.item--reverse {
    flex-direction: row-reverse;
}

.item > * {
    flex-basis: 50%;
}

.item__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__inner {
    max-width: 500px;
}

.item__title {
    font-size: 42px;
    font-family: "Fraunces", serif;
    max-width: 350px;
    line-height: 1.2;
    margin-bottom: 36px;
}

.item__title--center {
    text-align: center;
    max-width: initial;
}

.item__description {
    line-height: 1.5;
    color: hsl(210, 4%, 67%);
    margin-bottom: 36px;
}

.item__cta {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    color: hsl(212, 27%, 19%);
}

.item__cta::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 0%;
    height: 45%;
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
    transition: width 200ms ease-out;
}

.item__cta--yellow::after {
    background-color: hsl(51, 100%, 49%);
}

.item__cta--red::after {
    background-color: hsl(7, 99%, 70%);
}

.item__cta:hover::after {
    opacity: 1;
    width: 110%;
}

.item__illustration {
    width: 100%;
    object-fit: cover;
}

.item__block {
    position: relative;
    display: flex;
    justify-content: center;
}

.item__block-picture {
    width: 100%;
}

.item__block-illustration {
    width: 100%;
}

.item__block-content {
    position: absolute;
    bottom: 10%;
    text-align: center;
}

.item__block-title {
    font-size: 42px;
    font-family: "Fraunces", serif;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 36px;
}

.item__block-desc {
    max-width: 400px;
    line-height: 1.5;
    color: hsl(213, 9%, 39%);
}

.clients {
    min-height: 70vh;
    max-width: 1440px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.clients__heading {
    margin-top: 15vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Fraunces", serif;
    font-size: 24px;
    color: hsl(210, 4%, 67%);
}

.clients__container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 32px;
}

.client {
    text-align: center;
}

.client__picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.client__review {
    max-width: 350px;
    margin-top: 5vh;
    line-height: 1.5;
}

.client__name {
    margin-top: 8vh;
    font-family: "Fraunces", serif;
}

.client__position {
    margin-top: 16px;
    font-size: 16px;
    color: hsl(210, 4%, 67%);
}

.gallery {
    display: flex;
}

.gallery__item {
    min-width: 0;
    width: 100%;
}

.gallery__item > img {
    width: 100%;
}

.footer {
    text-align: center;
    background-color: hsl(168, 44%, 71%);
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__logo {
    filter: brightness(0) saturate(100%) invert(24%) sepia(73%) saturate(515%)
        hue-rotate(152deg) brightness(92%) contrast(89%);
}

.footer__list {
    margin-top: 48px;
}

.footer__list--icon {
    margin-top: 56px;
}

.footer__list > * {
    margin-left: 24px;
    margin-right: 24px;
}

.footer__list--icon > * {
    margin-left: 12px;
    margin-right: 12px;
}

.footer__link {
    text-decoration: none;
}

.footer__link {
    color: hsl(198, 62%, 26%);
}

.footer__item {
    display: inline-block;
}

@media only screen and (max-width: 1000px) {
    .header {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .header__nav {
        opacity: 0;
        height: 0;
    }

    .header__menu {
        margin-left: auto;
        display: block;
    }

    .header__nav--show {
        height: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 5%;
        left: 5%;
        top: 100px;
        background-color: hsl(0, 0%, 100%);
        opacity: 1;
    }

    .header__nav--show::after {
        content: "";
        position: absolute;
        right: 0;
        top: -30px;
        width: 0;
        height: 0;
        border-right: 15px solid hsl(0, 0%, 100%);
        border-bottom: 15px solid hsl(0, 0%, 100%);
        border-left: 15px solid transparent;
        border-top: 15px solid transparent;
    }

    .header__nav--show .header__item {
        display: block;
        margin-top: 24px;
        margin-right: 0;
    }

    .header__nav--show .header__link {
        color: hsl(212, 27%, 19%);
    }

    .header__cta {
        background-color: hsl(51, 100%, 49%);
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .header__menu {
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 12px;
    }

    .hero {
        background-image: url("../images/mobile/image-header.jpg");
        width: 100%;
    }

    .hero__content {
        font-size: 48px;
        line-height: 1.5;
    }

    .item {
        flex-direction: column-reverse;
    }

    .item--2 {
        flex-direction: column;
    }

    .item__inner {
        padding: 24px;
        text-align: center;
    }

    .item__title {
        max-width: initial;
    }

    .item__block {
        display: flex;
        justify-content: center;
    }

    .item__block-content {
        left: initial;
        transform: initial;
        bottom: 10%;
    }

    .item__block-desc {
        max-width: 500px;
    }

    .clients__container {
        grid-template-columns: 1fr;
    }

    .clients {
        margin-bottom: 10vh;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .gallery__item {
        width: 50%;
    }
}
